.banner{
  background-image: url(../../images/background.png);
  background-size: cover;
  width: 100%;
  padding: 200px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p{
  opacity: .7;
  font-size: 20px;
}
